
body {
    background: white;
}

#contact {
    border-color: lightgray;
}

h1 {
  font-size: 100px;
}

h2 {
    font-size: 70px;
}

body {
    background: #ffffff;
}
.portfolio {
    padding-bottom: 15px;
}

