<!-- your html code here -->
<div class="ms-5 pb-3 pe-2 me-5" id="contact">
    <h1>Contact</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
        to
        using 'Content here, content here', making it look like readable English.</p>
    <div class="w-75 pb-1 text-end mx-auto border" id="email">
        <div class="m-3 d-flex align-items-start">
            <label for="formGroupExampleInput" class="form-label w-50 me-3"><strong>Your E-mail</strong></label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your email">
        </div>
        <div class="m-3 d-flex">
            <label for="formGroupExampleInput2" class="form-label w-50 me-3"><strong>Your message</strong></label>
            <textarea rows="4" type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Please enter your message here"></textarea>
        </div>
        <div class="w-100 m-3 pe-3 d-flex justify-content-end mx-auto">
            <input class="btn btn-primary" type="submit" value="Submit"></input>
        </div>
    </div>
</div>