<!-- your html code here -->
<div class="portfolio  border-top border-bottom pt-5 pb-5 m-5" id="portfolio" >
<div>
<h1>Portfolio</h1>
<p>Donec id nunc a sapien suscipit malesuada. Nullam metus est, rhoncus ut diam at, pharetra ultrices lacus. Quisque velit sem, pretium ut lobortis in, tincidunt efficitur nisl.
Curabitur eu ante ac diam aliquam lacinia. Curabitur quis nibh in libero porta finibus quis ut turpis. Etiam aliquet metus vitae metus luctus malesuada.
</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
        <img src="./assets/img/big-project-image.png" alt="" class="img-item w-100"/>
        <div class="text-bottom">
            <div class="title text-primary mt-3">
            <h4><strong>Project Name</strong></h4>
            </div class="paragraph" >
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id ligula sed mauris hendrerit auctor. Donec facilisis lacinia magna id lacinia. </p>
        </div> 
       </div>
      <div class="col">
        <img src="./assets/img/big-project-image.png" alt="" class="img-item w-100"/>
        <div class="text-bottom">
            <div class="title text-primary mt-3">
            <h4><strong>Project Name</strong></stron></h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id ligula sed mauris hendrerit auctor. Donec facilisis lacinia magna id lacinia. </p>
          </div> 
      </div>
      <div class="col">
        <img src="./assets/img/big-project-image.png" alt="" class="img-item w-100"/>
        <div class="text-bottom">
            <div class="title text-primary mt-3">
                <h4><strong>Project Name</strong></stron></h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id ligula sed mauris hendrerit auctor. Donec facilisis lacinia magna id lacinia. </p>
          </div> 
      </div>
    </div>
  </div>
</div>